.App {
  /* text-align: center; */
  font-family: 'Itim', cursive;
  background-color: black;
  color: whitesmoke;
}

h1 {
  text-transform: uppercase;
}

p {
  font-size: 18px;
}

* {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

main {
  min-height: 100vh;
}

/*Button*/
button {
  background-color: whitesmoke;
  color: black;
  border: none;
  padding: 0;
  margin: auto;
  font-size: 20px;
  height: 40px;
  width: 120px;
  box-shadow: 1px solid whitesmoke;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-primary {
  background-color: whitesmoke;
}

button:active {
  background-color: whitesmoke;
  box-shadow: 0 0 2px black;
  transform: translateY(2px);
}

.btn-primary:active {
  background-color: whitesmoke;
  box-shadow: 0 0 2px black;
  transform: translateY(2px);
}

.btn-primary:hover {
  background-color: whitesmoke;
}

/*Navbar*/
.bg-dark {
  background-color: black !important
}

.nav-link {
  margin: 0 12px;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-item {
  font-size: 20px;
}


/*Home page*/
.introSection {
  display: flex;
  justify-content: space-between;
  padding: 120px 0px;
}

.featItems {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.content {
  padding: 200px 100px;
  text-align: left;
}

.content h1 {
  font-size: 80px;
}

.content span {
  color: rgb(160, 89, 231);
  font-style: italic;
}

.coverImage {
  padding: 100px 40px;
  width: 100%;
}

/*Card*/
.featT {
  margin-right: 20px;
  text-align: right;
}
.features {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-start;
}
.features .card{
  margin: 40px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.features .card .face{
  width: auto;
  height: auto;
  transition: 0.5s;
}
.features .card .face.face1{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateX(100px);
}
.features .card:hover .face.face1{
  transform: translateX(0);
}
.features .card .face.face1 .card-title{
  opacity: 0.7;
  transition: 0.5s;
}
.features .card:hover .face.face1 .card-title{
  opacity: 1;
}
.features .card .face.face1 .card-title img{
  max-width: 50%;
  background: whitesmoke;
  border: 4px solid whitesmoke;
  border-radius: 50%;
}

.features .card .face.face2{
  position: relative;
  display: flex;
  flex-direction: column;
  background: black;
  justify-content: center;
  align-items:flex-start;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,0.8);
  transform: translateX(-100px);
}
.features .card:hover .face.face2{
  transform: translateX(0);
}
.features .card .face.face2 h4{
  color: black;
  margin: 10px 0 0;
  padding: 0;
  font-size: 40px;
}
.features .card .face.face2 p{
  color: black;
  margin: 0;
  padding: 0;
}
.features .card:hover .face.face2 h4{
  color: white;
}
.features .card:hover .face.face2 p{
  color: white;
}

/*Blog*/
.blogHead {
  padding-top: 120px;
  padding-left: 40px;
}

.blogItems {
  /* text-align: center; */
  padding: 100px 0px
}

.lists {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  flex-direction: row;
}

.blog-preview {
  border: 2px solid whitesmoke;
  border-radius: 8px;
  padding: 10px 16px;
  margin: 20px 0px;
  /* border-bottom: 1px solid black; */
  cursor: pointer;
  width: 20rem;
  text-align: center;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px whitesmoke;
}

/*Create New Blog*/
.add-form {
  max-width: 440px;
  padding: 40px 0;
  margin: 0 auto;
  text-align: center;
}

.add-form label {
  font-size: 20px;
  display: block;
  margin: 10px auto;
  text-align: left;
}

.add-form input,
.add-form textarea {
  width: 100%;
  padding: 16px 10px;
  margin: 20px 0;
  border: 1px solid whitesmoke;
  border-radius: 2px;
  box-sizing: border-box;
  display: block;
}

.add-form span {
  font-style: italic;
  color: rgb(111, 110, 110)
}

/*Not found*/

/*Footer*/
.footer {
  padding: 40px 28px;
  text-align: center;
}


@media only screen and (max-width: 600px) {

  /*Home page*/
  .introSection {
    display: block;
  }

  .col-5 {
    width: auto;
  }

  .content {
    padding: 10px 10px;
    display: block;
  }

  .content h1 {
    font-size: 44px;
  }

  .col-7 {
    display: none
  }

  /*Card*/
  .featT {
    margin-right: 0px;
  }

  /* .featItems {
    display: block;
    padding: 40px 0px;
  }

  .featItems .card {
    margin: 20px 0px;
  }

  .card-img {
    width: 30%
  } */

  .link {
    margin-right: 20px;
  }

  /*Blog*/
  .Blog {
    display: flex;
    flex-wrap: wrap;
  }

  .blogHead {
    padding-left: 0px;
  }

  .blogItems {
    padding: 50px 0px;
  }

  .blog-preview {
    width: 18rem;
    margin: 20px 6px;
  }
}