@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap');
/*Image by storyset on Freepik*/
/*https://www.freepik.com/author/stories*/

.App {
  /* text-align: center; */
  font-family: 'Lora', serif;
  background-color: black;
  color: whitesmoke;
}


p {
  font-size: 18px;
}

* {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

main {
  min-height: 100vh;
}

/*Button*/
button {
  background-color: white;
  color: black;
  border: none;
  padding: 10;
  margin: auto;
  font-size: 20px;
  height: 40px;
  width: auto;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-primary {
  background-color: whitesmoke;
}

button:active {
  background-color: whitesmoke;
  box-shadow: 0 0 2px black;
  transform: translateY(2px);
}

.btn-primary:active {
  background-color: whitesmoke;
  box-shadow: 0 0 2px black;
  transform: translateY(2px);
}

.btn-primary:hover {
  background-color: whitesmoke;
}

/*Navbar*/
.bg-dark {
  background-color: black !important;
}

.text-bg-dark {
  background-color: black !important;
}

.nav-link {
  font-size: 20px;
  color: #D4A017 !important;
  margin: 0 12px;
}

.nav-link:hover {
  text-decoration: underline;
}

.navbar-toggler {
  border: 2px solid rgb(160, 89, 231);
  border-radius: 8px
}

.navbar-toggler:focus {
  box-shadow: none;
  background-color: transparent
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(160, 89, 231)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

/*Home page*/

/*Intro section*/
/*Image: https://img.freepik.com/free-vector/dreamer-concept-illustration_114360-2972.jpg?w=826&t=st=1678366681~exp=1678367281~hmac=db74b05b3ee46d62046493f5ed283d84aa75c5959dab3a57c1adc52e15752367*/
.introSection {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.content {
  padding: 380px 100px;
  text-align: center;
}

.content h1 {
  font-size: 96px;
}

.content h2 {
  color: #D4A017;
  font-size: 40px;
  font-style: italic;
}

.content h5 {
  font-size: 24px;
}

.coverImage {
  padding: 80px 40px;
  width: 100%;
  opacity: 0.8;
}

/*About Section*/
/*Image: https://img.freepik.com/free-vector/dreamer-concept-illustration_114360-5235.jpg?w=1380&t=st=1678367730~exp=1678368330~hmac=e48196a59d31e306104bd5d3a0a1f6c02ac327d8078f3fb923cef2bb04d97484 */
.aboutSection {
  padding-top: 60px;
}

.aboutT {
  color: #D4A017;
  margin: 10px 10px;
  font-size: 52px;
  text-align: center;
}

.aboutContent {
  text-align: right;
  padding: 120px 64px;
  margin: 40px 40px;
}

.aboutContent h2 {
  font-size: 44px;
}

/*Features section*/
/*Image: https://img.freepik.com/free-vector/imagination-concept-illustration_114360-8085.jpg?w=826&t=st=1678367785~exp=1678368385~hmac=027d1c138da3a79a2782aa061f1f26422c19932f4db688160c8095b886a0d42c*/
.featuresSection {
  padding-top: 40px;
}

.featT {
  margin: 10px 10px;
  text-align: center;
  font-size: 52px;
  color: #D4A017;
}


.features {
  padding-top: 20px;
}

.featuresRes {
  display: none;
}

.features .card {
  padding: 44px 0px;
  margin: 64px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.features .card .face {
  width: auto;
  height: auto;
  transition: 0.8s;
}

.features .card .face.face1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateX(200px);
}

.features .card:hover .face.face1 {
  transform: translateX(0);
}

.features .card .face.face1 .card-title {
  opacity: 0.7;
  transition: 0.7s;
}

.features .card:hover .face.face1 .card-title {
  opacity: 1;
}

.features .card .face.face1 .card-title img {
  max-width: 40%;
  background: whitesmoke;
  border: 4px solid whitesmoke;
  border-radius: 50%;
}

.features .card .face.face2 {
  position: relative;
  display: flex;
  flex-direction: column;
  background: black;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateX(-50px);
}

.features .card:hover .face.face2 {
  transform: translateX(0);
}

.features .card .face.face2 h4 {
  color: black;
  margin: 10px 0 0;
  padding: 0;
  font-size: 40px;
}

.features .card .face.face2 p {
  color: black;
  margin: 0;
  padding: 0;
}

.features .card:hover .face.face2 h4 {
  color: #D4A017;
}

.features .card:hover .face.face2 p {
  color: white;
  font-size: 20px
}

/*Blog*/
.blogHead {
  padding-top: 120px;
  padding-left: 40px;
}

.blogHead h1 {
  color: #D4A017;
}

.blogItems {
  /* text-align: center; */
  display: flex;
  flex-wrap: wrap;
  padding: 100px 0px
}

.lists {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.blog-preview {
  border: 2px solid #D4A017;
  border-radius: 8px;
  padding: 10px 16px;
  margin: 20px 12px;
  /* border-bottom: 1px solid black; */
  cursor: pointer;
  width: 28rem;
  text-align: center;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px #D4A017;
}

.blog-content {
  margin: 40px 140px;
  font-size: 22px;
  white-space: pre-line;
}

/*Create New Blog*/
.create {
  padding-top: 120px;
}

.create h1 {
  text-align: center;
  color: #D4A017
}

.add-form {
  max-width: 500px;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
}

.add-form label {
  color: #D4A017;
  font-size: 24px;
  display: block;
  margin: 10px auto;
  text-align: left;
}

.add-form input,
.add-form textarea {
  width: 100%;
  padding: 16px 10px;
  margin: 20px 0;
  border: 1px solid whitesmoke;
  border-radius: 2px;
  box-sizing: border-box;
  display: block;
}

.add-form textarea {
  height: 140px;
}

.add-form span {
  font-style: italic;
  color: #D4A017
}

/*Footer*/
.footer {
  padding: 40px 28px;
  text-align: center;
  font-size: 12px;
}


@media only screen and (max-width: 600px) {

  /*Home page*/
  .welcomeSection h1 {
    font-size: 40px;
  }

  .introSection {
    display: block;
  }

  .content .col-5 {
    width: auto;
  }

  .content {
    padding: 10px 10px;
    display: block;
  }

  .content h1 {
    font-size: 44px;
  }

  .content .col-7 {
    display: none
  }

  /*Card*/
  .featT {
    margin-right: 0px;
  }

  .link {
    margin-right: 20px;
  }

  .features {
    display: none;
  }

  .featuresRes .card {
    margin: 16px 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }

  .featuresRes .card-title img {
    max-width: 36%;
    background: whitesmoke;
    border: 4px solid whitesmoke;
    border-radius: 50%;
  }

  /*Blog*/
  .Blog {
    display: flex;
    flex-wrap: wrap;
  }

  .blogHead {
    padding-left: 0px;
  }

  .blogItems {
    padding: 50px 0px;
  }

  .blog-preview {
    width: 18rem;
    margin: 20px 6px;
  }
}