@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&display=swap');
/*Image by storyset on Freepik*/
/*https://www.freepik.com/author/stories*/

.App {
  /* text-align: center; */
  font-family: 'Lora', serif;
  background-color: black;
  color: whitesmoke;
}


p {
  font-size: 18px;
}

* {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

main {
  min-height: 100vh;
}

/*Button*/
button {
  background-color: #D4A017;
  color: black;
  border: none;
  margin: auto;
  font-size: 20px;
  height: 40px;
  width: auto;
  border-radius: 8px;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

.btn-primary {
  background-color: whitesmoke;
}

button:active {
  background-color: #D4A017;
  box-shadow: 0 0 2px black;
  transform: translateY(2px);
}

.btn-primary:active {
  background-color: #D4A017;
  box-shadow: 0 0 2px black;
  transform: translateY(2px);
}

.btn-primary:hover {
  background-color: #D4A017;
}

/*Navbar*/
.bg-dark {
  background-color: black !important;
}

.text-bg-dark {
  background-color: black !important;
}

.nav-link {
  text-align: center;
  font-size: 24px;
  color: #D4A017 !important;
  margin: 4px 12px;
}

.nav-link:hover {
  text-decoration: underline;
}

.navbar-toggler {
  border: 2px solid #D4A017;
  border-radius: 8px;
  margin: 0px;
}

.navbar-toggler:focus {
  box-shadow: none;
  background-color: transparent
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(	212, 160, 23)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

/*Home page*/

/*Intro section*/
/*Image: https://img.freepik.com/free-vector/dreamer-concept-illustration_114360-2972.jpg?w=826&t=st=1678366681~exp=1678367281~hmac=db74b05b3ee46d62046493f5ed283d84aa75c5959dab3a57c1adc52e15752367*/
.introSection {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.content {
  padding: 380px 100px;
  text-align: center;
}

.content h1 {
  font-size: 96px;
  color: #D4A017;
}

.content h2 {
  color: #D4A017;
  font-size: 40px;
  font-style: italic;
}

.content h5 {
  font-size: 24px;
}

.coverImage {
  padding: 72px 40px;
  width: 100%;
  opacity: 0.7;
}

/*About Section*/
/*Image: https://img.freepik.com/free-vector/dreamer-concept-illustration_114360-5235.jpg?w=1380&t=st=1678367730~exp=1678368330~hmac=e48196a59d31e306104bd5d3a0a1f6c02ac327d8078f3fb923cef2bb04d97484 */
/*Image: https://storyset.com/illustration/creative-thinking/cuate#FFC100FF&hide=&hide=complete */
.aboutSection {
  padding-top: 60px;
}

.aboutT {
  color: #D4A017;
  margin: 10px 10px;
  font-size: 52px;
  text-align: center;
}

.aboutContent{
  text-align: left;
  margin: 100px 32px;
}

.aboutContent h3{
  font-size: 40px;
  color: #D4A017;
}

.aboutContent p{
  font-size: 24px;
}

.illustration{
  padding: 20px 20px;
  margin: 0px 100px;
  width: 50%;
  opacity: 0.7;
}
/*Features section*/
/*Image: https://img.freepik.com/free-vector/imagination-concept-illustration_114360-8085.jpg?w=826&t=st=1678367785~exp=1678368385~hmac=027d1c138da3a79a2782aa061f1f26422c19932f4db688160c8095b886a0d42c*/
.featuresSection {
  padding-top: 20px;
}

.featT {
  margin: 10px 10px;
  text-align: center;
  font-size: 52px;
  color: #D4A017;
}

.feats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}

.cardFeat {
  width: 18rem;
  margin: 24px 0px;
  padding: 32px 8px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  border: 3px solid #D4A017;
  border-radius: 20px;
}

.cardFeat img {
  background-color: #D4A017;
  border-radius: 20px;
  width: 36%;
}

.cardFeat .card-body {
  text-align: center;
  margin: 36px 00px;
}

.cardFeat .card-body h5 {
  font-size: 36px;
  color: #D4A017
}

.cardFeat .card-body p {
  font-size: 20px;
}

/*Blog*/
.blogHead {
  padding-top: 120px;
  padding-left: 40px;
}

.blogHead h1 {
  color: #D4A017;
}

.blogItems {
  /* text-align: center; */
  display: flex;
  flex-wrap: wrap;
  padding: 100px 0px
}

.lists {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: center;
}

.blog-preview {
  border: 2px solid #D4A017;
  border-radius: 8px;
  padding: 16px 12px;
  margin: 20px 12px;
  cursor: pointer;
  width: 24rem;
  height: 12rem;
  text-align: center;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px #D4A017;
}

.blog-content {
  margin: 40px 140px;
  font-size: 22px;
  white-space: pre-line;
}

/*Create New Blog*/
.create {
  padding-top: 120px;
}

.create h1 {
  text-align: center;
  color: #D4A017
}

.add-form {
  max-width: 500px;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
}

.add-form label {
  color: #D4A017;
  font-size: 24px;
  display: block;
  margin: 10px auto;
  text-align: left;
}

.add-form input,
.add-form textarea {
  width: 100%;
  padding: 16px 10px;
  margin: 20px 0;
  border: 1px solid whitesmoke;
  border-radius: 2px;
  box-sizing: border-box;
  display: block;
}

.add-form textarea {
  height: 140px;
}

.add-form span {
  font-style: italic;
  color: #D4A017
}

/*Footer*/
.footer {
  padding: 40px 28px;
  text-align: center;
  font-size: 12px;
}


@media only screen and (max-width: 600px) {
  .row {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .col-6 {
    width: 100%;
  }

  /*Home page*/
  .coverImage {
    padding: unset;
    width: 100%
  }

  .content {
    padding: 40px 0px
  }

  .content h1 {
    font-size: 40px;
  }

  .content h2 {
    font-size: 28px;
  }

  .content h5 {
    font-size: 20px;
  }

  .introSection .row {
    display: flex;
    flex-direction: row;
  }

  .aboutT{
    font-size: 40px;
  }

  .aboutContent {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .aboutContent p{
    padding: 20px 0px;
    font-size: 20px;
    text-align: left;
  }

  .illustration{
    margin: 0px 0px;
    padding: 0px 0px;
  }

  /*Card*/
  .featT {
    margin-right: 0px;
    font-size: 40px;
  }

  .link {
    margin-right: 20px;
  }

  .cardFeat{
    width: 16rem;
    margin: 12px 0px;
  }

  /*Blog*/
  .Blog {
    display: flex;
    flex-wrap: wrap;
  }

  .blogHead {
    padding-left: 0px;
  }

  /* .blogItems {
    padding: 50px 50px;
  } */

  .blog-preview {
    width: 18rem;
    height: unset;
    margin: 20px 6px;
  }

  .lists{
    flex-direction: column-reverse;
  }

  .blog-content{
    margin: 40px 20px
  }
}